<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--xml方法-->
    <!--    <bean id="card" class="com.cqust.Entity.Card"></bean>
        <bean id="cardDao" class="com.cqust.Dao.CardDao"></bean>

        <bean id="cardBiz" class="com.cqust.Biz.CardBiz">
                <property name="cardDao" ref="cardDao"></property>
        </bean>

        <bean id="cardController" class="com.cqust.Controller.CardController">
                <property name="cardBiz" ref="cardBiz"></property>
        </bean>-->

    <!--annotation-->
    <context:component-scan base-package="com.cqust">

    </context:component-scan>

    <bean id="myRight" class="com.cqust.aspect.MyRight"></bean>

    <!--annotation-->
    <aop:aspectj-autoproxy/>



<!--    <aop:config>-->
<!--        <aop:pointcut id="cardControllerPointcut"-->
<!--                      expression="execution(* com.cqust.Controller.CardController.*(..))"/>-->

<!--        <aop:aspect  ref="myRight">-->
<!--            <aop:before-->
<!--                    method="beforecheck"-->
<!--                    pointcut-ref="cardControllerPointcut"/>-->
<!--            <aop:after-->
<!--                    method="afterecheck"-->
<!--                    pointcut-ref="cardControllerPointcut"/>-->
<!--            <aop:around-->
<!--                    method="aroundcheck"-->
<!--                    pointcut-ref="cardControllerPointcut"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->


</beans>