<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqust.Entity.Record">

    <select id="selectById" resultType="com.cqust.Entity.Record" parameterType="int">
        select * from record where rid=#{rid}
    </select>

    <select id="selectAll" resultType="com.cqust.Entity.Record">
        select * from record
    </select>

    <insert id="insert" parameterType="com.cqust.Entity.Record">
        insert into record VALUES (#{rid},#{cid},#{cno},NOW(),#{consumeType},#{consumeMoney},#{memo},#{consumePort})
    </insert>

    <delete id="delete">
        delete from record where rid = #{rid}
    </delete>

    <update id="update">
         update record set cid=#{cid},cno=#{cno},consumeType=#{consumeType},
         consumeMoney=#{consumeMoney},memo=#{memo},consumePort=#{consumePort}
         where rid =#{rid}
    </update>

</mapper>