<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--xml方式-->
    <!--注册bean-->
    <bean id="card" class="task2.demo01.Entity.Card"></bean>
    <bean id="cardDao" class="task2.demo01.Dao.CardDao"></bean>
    <bean id="cardBiz" class="task2.demo01.Biz.CardBiz">
        <property name="cardDao" ref="cardDao"></property>
    </bean>
    <bean id="cardController" class="task2.demo01.Controller.CardController">
        <property name="cardBiz" ref="cardBiz"></property>
    </bean>

    <bean id="myAdvice" class="task2.demo01.aspect.MyAdvice"></bean>
    <!--配置Spring AOP-->
    <aop:config>
        <aop:pointcut id="cardControllerPointcut"
                      expression="execution(* task2.demo01.Controller.CardController.*(..))"/>
        <aop:aspect  ref="myAdvice">
            <aop:before
                    method="log"
                    pointcut-ref="cardControllerPointcut"/>
        </aop:aspect>
    </aop:config>




</beans>