<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--环境配置-->
    <!--加载类路径下的属性文件-->
    <properties resource="db.properties"></properties>
    <!--扫描包自定义别名-->
    <typeAliases>
        <package name="com.cqust.Entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--数据库连接相关配置，db.properties文件中的内容-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/CardMapper.xml"/>
        <mapper resource="mapper/RecordMapper.xml"/>
<!--        <mapper resource="mapper2/UserMapper.xml"/>-->
<!--        <mapper resource="mapper2/StudentMapper.xml"/>-->
    </mappers>
</configuration>